.jumbotron {
    background-image: url("../images/photo1.jpg");
    height: 30em;
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
}

#topheader .navbar-nav li.active > a {
    background-color: #ae2c2c;
    color: white;
    border-radius: 30px 30px 30px 30px;
}

#joinButton:hover {
    color: #ae2c2c;
    align-items: center;
}

.MenuButton:hover {
    color: white;
    background-color: #ae2c2c;
    align-items: center;
}

.InterventionButton {
    margin-top: 20px;
}

.br {
    background-color: #ae2c2c;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
.text-r {
    color: #ae2c2c;
}

#navbarTitle {
    color: #ae2c2c;
}

.nav-item{
    padding-left: 10px;
}
.col-info {
    color: white;
    display: inline-block;
    text-align: center;
}

.container {
    width: 100%;
}

.info-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.text-intervention{
    padding-bottom: 2em;
}

.footer {
    height: 180px;
    bottom: 0;
    width: 100%;
}

.event-soon{
    padding-top: 25px;
    padding-bottom: 25px;
}
.copyright-text{
    padding-top: 90px;
}
.row-striped:nth-of-type(odd){
    background-color: #efefef;
    border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even){
    background-color: #ffffff;
    border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}

#listEngagement{
    list-style-position: inside;
}

.pagination > li > a, .pagination > li > span {
    color: #ae2c2c;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span,
.pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #ae2c2c;
    border-color: #ae2c2c;
    color: #ae2c2c;
}

.page-item.active .page-link,
.page-item.active:hover .page-link{
    background-color: #ae2c2c;
    border-color: #ae2c2c;
    color: white;
}

.page-item:hover:not(.active) .page-link {
    color: #ae2c2c;
}
